* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html,
body {
	height: 100%;
	overflow-x: hidden;
}

body {
	font-family: "Roboto Condensed", sans-serif;
	line-height: 1.6;
	font-size: 16px;
}

.quantity-setter {
	display: none;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 900px;
}

header {
	top: 0;
	width: 100%;
	position: fixed;
	justify-content: space-between;
	display: flex;
	align-items: center;
	padding: 20px 10%;
	border-bottom: 2px solid #0088a9;
	background-color: white;
	height: 8vh;
	z-index: 99;
}

.logo-title {
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
	cursor: pointer;
	font-size: 200%;
}

@media screen and (max-width: 800px) {
	.logo-title {
		font-size: 175%;
		letter-spacing: 1px;
	}

	header {
		padding: 30px 5%;
		height: 10vh;
	}
}

p {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.by-jb {
	font-style: italic;
	font-size: 80%;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 100;
	margin-top: -0.5vh;
}

.nav-links {
	list-style: none;
}

.nav-links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav-links li a {
	color: rgb(49, 49, 49);
	transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
	color: #0088a9;
	transition: all 0.3s ease 0s;
}

button {
	font-family: "Roboto Condensed", sans-serif;
	padding: 12px 25px;
	background-color: #0088a9;
	border: none;
	border-radius: 3px;
	color: white;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}

button:hover {
	background-color: rgba(0, 136, 169, 0.8);
}

.landing {
	margin-top: 8vh;
	height: 40vh;
	position: relative;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: black;
}

.landing-video {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	z-index: 1;
	opacity: 0.5;
}

.landing-video img {
	width: 100%;
	object-fit: cover;
	height: 100%;
}

.landing-header {
	color: white;
	z-index: 2;
}

.landing-header h1 {
	font-weight: 500;
}

.landing-header h4 {
	font-weight: 500;
	margin-bottom: 1vh;
}

.landing-header p {
	font-family: "Roboto Condensed", sans-serif;
	opacity: 0.5;
}

h1 {
	font-family: "Oswald", sans-serif;
	font-weight: 300;
	font-size: 600%;
}

h2 {
	font-weight: 400;
	font-size: 300%;
}

h4 {
	font-weight: 300;
	font-size: 150%;
}

@media screen and (max-width: 1200px) {
	h1 {
		font-size: 400%;
	}

	h2 {
		font-weight: 400;
		font-size: 250%;
	}

	h4 {
		font-size: 125%;
	}
}

@media screen and (max-width: 800px) {
	h1 {
		font-size: 250%;
	}

	h2 {
		font-weight: 400;
		font-size: 200%;
	}

	h4 {
		font-size: 100%;
	}

	.landing {
		height: 35vh;
		margin-top: 10vh;
	}
}

.section .under-title {
	font-weight: 100;
	margin-bottom: 2vh;
	font-family: "Roboto Condensed", sans-serif;
}

.section {
	margin-top: 10vh;
	margin-bottom: 10vh;
}

@media screen and (max-width: 800px) {
	.section {
		margin-top: 5vh;
		margin-bottom: 5vh;
	}
}

.overview {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.section p {
	margin-bottom: 1vh;
	text-align: justify;
}

.overview-left {
	width: 60%;
	align-self: center;
}

.overview-left video,
.overview-left img {
	width: 60%;
}

.overview-right {
	width: 35%;
}

.overview-right video,
.overview-right img {
	width: 100%;
}

.secondary-left {
	width: 47.5%;
}

.secondary-right {
	width: 47.5%;
	align-self: center;
}

.secondary-right img {
	width: 100%;
}

.third-left {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.third-right {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.fourth-left {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.fourth-right {
	width: 45%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.is-this img {
	width: 100%;
}

.faq-img img {
	width: 80%;
	margin: 0 auto;
}

.mobile-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.img-mobile {
	margin-bottom: 3vh;
	border-radius: 100%;
}
.img-mobile img {
	width: 100%;
}

.is-this {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.author-img img {
	width: 80%;
	margin: 0 auto;
}

@media screen and (max-width: 850px) {
	.nav-links {
		display: none;
	}

	.overview,
	.is-this {
		flex-direction: column;
	}

	.overview-left,
	.overview-right {
		width: 100%;
	}

	.overview-right img {
		margin-top: 2vh;
	}

	.secondary-left {
		width: 100%;
	}
	.secondary-right {
		width: 100%;
	}

	h2 {
		margin-bottom: 2vh;
	}

	.third-right {
		width: 100%;
	}

	.third-left {
		width: 100%;
	}

	.fourth-left {
		width: 100%;
	}

	.fourth-right {
		width: 100%;
	}

	.faq-img {
		margin-top: 5vh;
	}

	.img-desktop {
		display: none;
	}

	.is-this img {
		width: 100%;
		margin: 0 auto;
		margin-bottom: 3vh;
	}

	.section h2 {
		text-align: center;
	}

	.section .under-title {
		text-align: center;
	}
}

@media screen and (min-width: 768px) {
	.img-mobile {
		display: none;
	}
}

.checkout-main {
	background-color: rgb(232, 232, 232);
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.buy-container {
	display: flex;
	justify-content: space-between;
}

.buy-left {
	width: 35%;
}

.buy-left img {
	width: 100%;
}

.buy-right {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 55%;
}

#basic-photo-button {
	font-size: 110%;
	width: 100%;
}

@media screen and (max-width: 800px) {
	.buy-container {
		flex-direction: column;
	}

	.buy-left,
	.buy-right {
		width: 100%;
	}

	.buy-left {
		margin-bottom: 2vh;
	}

	.buy-right p {
		margin-bottom: 2vh;
	}
}

.pricing-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.price-container {
	width: 24%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.price-img-container {
}

@media screen and (max-width: 800px) {
	.pricing-container {
		flex-direction: column;
	}

	.price-container {
		flex-direction: row;
		width: 50%;
		margin: 0 auto;
		text-align: center;
		justify-content: space-around;
		margin-bottom: 5vh;
		align-items: center;
	}
}

@media screen and (max-width: 500px) {
	.price-container {
		width: 80%;
	}
}

.primary-price img {
	width: 60%;
	margin: 0 auto;
}

.secondary-price img {
	width: 50%;
	margin: 0 auto;
}
.alevel-price img {
	width: 55%;
	margin: 0 auto;
}
.grad-price img {
	width: 65%;
	margin: 0 auto;
}

.price-container h2 {
	margin-bottom: 2vh;
}

.offering-list {
	margin-left: 20px;
}

.testimonials {
	width: 75%;
	margin: 0 auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.testimonials-inner {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.slick-next,
.slick-prev {
	border: none;
	margin: auto auto;
	z-index: -1;
}

.testimonial-card {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.testimonial-img {
	width: 25vh;
	height: 25vh;
	margin: auto 0;
}

.testimonial-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 100%;
}

.testimonial-info {
	text-align: center;
	width: 80%;
}

.testimonial-info h3 {
	font-size: 175%;
	font-weight: 400;
	margin-bottom: 1vh;
}

.testimonial-info p {
	margin-bottom: 2vh;
}

@media screen and (max-width: 800px) {
	.testimonials {
		width: 100%;
	}

	.testimonials-inner {
		flex-direction: column;
		text-align: center;
		width: 100%;
	}

	.testimonial-info {
		width: 100%;
		text-align: center;
	}

	.testimonial-img {
		width: 25vh;
		height: 25vh;
		margin: auto auto;
		margin-bottom: 3vh;
	}

	.testimonial-info h3 {
		font-size: 125%;
		font-weight: 600;
	}
}

.reviewer {
	color: #0088a9;
}

.contact-actions {
	color: #0088a9;
	margin-bottom: 2vh;
}

.contact {
	text-align: center;
	margin-top: 5vh;
}

@media screen and (max-width: 880px) {
	.contact {
		margin-top: 10vh;
	}
}

.contact p {
	text-align: center;
}

footer {
	display: flex;
	flex-direction: column;
	color: white;
	position: relative;
	margin-top: auto;
}

footer h2 {
	font-size: 150%;
	text-transform: none;
	font-weight: 300;
	margin-bottom: 1vh;
}

.footer-socials {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footer-socials-inner ul {
	list-style: none;
	right: 0;
	font-size: 175%;
	margin-left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footer-socials-inner li {
	margin-left: 10px;
	margin-right: 10px;
}

.footer-socials a {
	color: white;
	transition: 0.25s all ease-in-out;
}

.footer-socials a:hover {
	color: grey;
	transition: 0.25s all ease-in-out;
}

.footer-container {
	background-color: var(--main-grey);
}

.footer-3 {
	font-weight: 200;
}

.footer-3 p {
	margin-bottom: 1vh;
}

.footer-bottom {
	height: 5vh;
	line-height: 5vh;
	background-color: rgb(36, 36, 36);
	text-align: center;
	font-size: 90%;
	font-weight: 100;
}

.footer-bottom a {
	color: white;
	transition: 0.25s ease-in-out;
}

.footer-bottom a:hover {
	color: grey;
	transition: 0.25s ease-in-out;
}

.footer-bottom p {
	margin-bottom: 0vh;
}

.footer-3 {
	display: flex;
	padding-top: 3vh;
	padding-bottom: 3vh;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

.contact-jude {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.contact-jude-inner {
	display: flex;
}

.contact-jude-inner a {
	color: white;
	transition: 0.25s all ease-in-out;
}

.contact-jude-inner a:hover {
	color: grey;
	transition: 0.25s all ease-in-out;
}

.mail-icon {
	margin-right: 10px;
	margin-top: 4px;
}

.footer-container {
	background-color: rgb(50, 50, 50);
}

.contact {
	opacity: 0;
	transform: translateY(4rem);
	transition: 1s ease-in-out;
}

.contact.is-visible {
	opacity: 1;
	transition: 1s ease-in-out;
	transform: translateY(0rem);
}

.overview {
	opacity: 0;
	transform: translateY(4rem);
	transition: 1s ease-in-out;
}

.overview.is-visible {
	opacity: 1;
	transition: 1s ease-in-out;
	transform: translateY(0rem);
}

.is-this {
	opacity: 0;
	transform: translateY(4rem);
	transition: 1s ease-in-out;
}

.is-this.is-visible {
	opacity: 1;
	transition: 1s ease-in-out;
	transform: translateY(0rem);
}

.pricing {
	opacity: 0;
	transform: translateY(4rem);
	transition: 1s ease-in-out;
}

.pricing.is-visible {
	opacity: 1;
	transition: 1s ease-in-out;
	transform: translateY(0rem);
}

.testimonials {
	opacity: 0;
	transform: translateY(4rem);
	transition: 1s ease-in-out;
}

.testimonials.is-visible {
	opacity: 1;
	transition: 1s ease-in-out;
	transform: translateY(0rem);
}
